<% include ./partials/header %>

<header>
	<nav>
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Contact</a></li>
	</nav>
</header>

<section class="home">
	<div class="background-image"></div>
	<div class="home-content">
		<h1>Hadiyah Mughal</h1>
		<h1>&lt; Web Developer &gt;</h1>
	</div>
	<button>View portfolio</button>
</section>




<% include ./partials/footer %>