<% include ./partials/header %>

<section class="login-page">
    <h1 class="margin-space-top">Login</h1>
    
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button>Login</button>
    </form>    
</section>


<% include ./partials/footer %>