<% include ./partials/header %>


<section class="section-margin project-form-section">
    <h1>Add a Project</h1>
    <form action="/" method="POST">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="image" placeholder="Image URL">
        <input type="text" name="summary" placeholder="Project Summary">
        <button>Add this project!</button>
    </form>
</section>

<a class="link" href="/#portfolio">Go back to Portfolo section</a>


<% include ./partials/footer %>