<% include ./partials/header %>

<section class="section-margin">
    <h1 class="title margin-space-top">Add a Project</h1>
    <form action="/portfolio" method="POST">
        <div>
            <label>Project Title</label>
            <input type="text" name="project[title]" placeholder="Title">    
        </div>
        <div>
            <label>Main Image</label>
            <input type="text" name="project[image]" placeholder="Image URL">    
        </div>
        <div>
            <label>GitHub Link</label>
            <input type="text" name="project[github]" placeholder="GitHub Link">
        </div>
        <div>
            <label>Project Summary<span class="charCounter"><span id="charsUsed">0</span>/140</span></label>
            <textarea id="project-summary" class="textarea-small" name="project[summary]" placeholder="Project Summary" maxlength="140"></textarea>    
        </div>
        <div>
            <label>Post</label>
            <textarea class="textarea-large" name="project[post]" placeholder="Project Post"></textarea>    
        </div>
        <div>
            <button>Add this project!</button>    
        </div>
    </form>
    
    <a class="link" href="/#portfolio">Go back to Portfolo section</a>
</section>


<script type="text/javascript" src="/scripts/charCount.js"></script>
<% include ./partials/footer %>